extend layout

append vars
  - title = `砖转 ${year}${show_backpage ? ' - 转爪转 砖注专 专' : ''}`
  - meta_img = issues[0] && issues[0].coverpage

  - backpage_param = show_backpage ? '/backpage' : ''

  - year_idx = availableYears.indexOf(year)
  - prev_year = availableYears[year_idx-1]
  - next_year = availableYears[year_idx+1]

block content
  .container
    h1.mb-3
      if prev_year
        a.btn.btn-link(href=prev_year+backpage_param)  砖 拽转
        = ' '
      span(itemprop='datePublished', content=`${year}-01-01`)= title
      if next_year
        = ' '
        a.btn.btn-link(href=next_year+backpage_param) 砖  

    if !issues.length
      p 爪注专 转 砖转 #{year} 住专. 转 注  砖专 转 '注 ' 住驻专转 转 专 转" 住驻专 转 专砖.

    else
      +searchForm({}, year, `驻砖 -${year}`)
        = ' '
        if show_backpage
          a.btn.btn-lg.btn-info.mb-2.ml-2(href=year) 注专 转爪转 砖注专 拽
        else
          a.btn.btn-lg.btn-info.mb-2.ml-2(href=`${year}/backpage`) 注专 转爪转 砖注专 专

      include _issue_list
